/* style001.css */

body
{
    background-color: rgb(30, 30, 30);
}

.natural
{
    width: 25px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(0, 0, 0);
    font-family: arial;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 1px 1px black;
    user-select: none;
}

.natural:active
{
    transform: translateY(3px);
    background-color: rgb(200, 200, 200);
    border-color: rgb(0, 255, 255);
    box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.5);
    color: rgb(255, 0, 255);
}

.sharp
{
    width: 25px;
    background-color: rgb(0, 0, 0);
    border: solid 1px rgb(0, 0, 0);
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px black;
    user-select: none;
}

.sharp:active
{
    transform: translateY(3px);
    background-color: rgb(200, 200, 200);
    border-color: rgb(0, 255, 255);
    color: rgb(255, 0, 255);
    box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.5);
}

button
{
    background-color: rgb(0, 77, 129);
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(100, 100, 255);
    border-radius: 4px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
    opacity: 1.0;
    font-size: 12px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}

button:hover
{
    background-color: rgb(6, 31, 47);
    border-color: rgb(0, 255, 255);
    color: rgb(0, 255, 255);
}

button:active
{
    color: rgb(255, 0, 255);
}

hr
{
    width: 100%;
    margin: 5px 4px;
}

textarea
{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.pianoNatural
{
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    width: 20px;
    text-align: center;
    height: 100%;
    border: solid 1px rgb(0, 0, 0);
    font-size: 12px;
    color: rgb(0, 0, 0);
}

.pianoSharp
{
    align-items: flex-start;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 20px;
    height: 100%;
    border: solid 1px rgb(255, 255, 255);
    font-size: 9px;
    color: rgb(255, 255, 255);
}

/* -- */

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2025 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

